.banner {
  background-image: url(./assets/image/banner_bg.png);
  background-position: top left;
  background-size: cover;

  width: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .banner {
    background-image: none;
    /* background-size: contain; */
    background-color: #ffbd14;
  }
}

/* img {
  max-width: 100%;
  margin: auto;
} */
.ring-image {
  position: absolute;
  /* top: 50%; */
  display: flex;
  justify-content: center;
  width: 100%;
  top: 15%;
  transform: translatey(-50%);
}

.ring-image-wrapper {
  background-color: #c42746;

  border-radius: 4px;
  margin-right: 10px;
  width: 25%;
}

.ring-image-wrapper img {
  width: 100%;
}

.ring-text {
  position: absolute;
  bottom: 13%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3bf800;
}
.faq-list {
  list-style-type: square;
}
.faq-list li {
  margin-left: 20px;
}
.faq-list li.text-green {
  margin-left: 40px;
}

@media (min-width: 700px) {
  .faq-list li {
    margin-left: 40px;
  }
  .faq-list li.text-green {
    margin-left: 80px;
  }
}
.faq {
  background-image: url(./assets/image/faq_bg.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}
html {
  scroll-behavior: smooth;
}
.mobile-nav {
  position: absolute;
  top: 110%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.active {
  max-height: 1000px;
}
